[package]
name = "jakebarnes"
version = "0.1.0"
authors = ["Jake Barnes <me@jakebarn.es>"]
edition = "2018"

[dependencies]
base64 = "^0.11.0"
chrono = "^0.4.7"
dotenv = "^0.15.0"
reqwest = "^0.9.20"
rocket = "^0.4.2"
serde_json = "^1.0.40"
url = "^2.1.0"

[dependencies.rocket_contrib]
version = "^0.4.2"
default-features = false
features = ["handlebars_templates", "serve"]

[dependencies.serde]
version = "^1.0.94"
features = ["derive"]
