[package]
name = "jakebarnes"
version = "0.1.0"
authors = ["Jake Barnes <me@jakebarn.es>"]
edition = "2018"

[dependencies]
base64 = "^0.10.1"
chrono = "^0.4.6"
rocket = "^0.4.1"
serde_json = "^1.0.39"
url = "^1.7.2"

[dependencies.rocket_contrib]
version = "^0.4.1"
default-features = false
features = ["handlebars_templates", "serve"]

[dependencies.serde]
version = "^1.0.91"
features = ["derive"]
