<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>{{#if title}}{{title}} &ndash; {{/if}}Jake Barnes</title>
  <meta name="description" content="">
  <meta name="author" content="Jake Barnes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{> components/asset-css name="nav"}}
  {{> head}}
</head>
<body>
  <ul class="nav">
    <li><span class="hamburger">&#x2630;</span></li>
    <li><a href="/">Home</a></li>
    <li><a href="/#contact">Contact</a></li>
    <li><a href="https://medium.com/@dubistkomisch">Medium Blog</a></li>
    <li>
      <a>Games</a>
      <ul>
        <li><a href="/ds2sm">Dark Souls 2</a></li>
        <li><a href="/kf">Killing Floor</a></li>
        <li><a href="/kf2">Killing Floor 2</a></li>
        <li><a href="/pattomobile">Pattomobile</a></li>
        <li><a href="/pd2">Payday 2</a></li>
      </ul>
    </li>
    <li>
      <a>Tools</a>
      <ul>
        <li><a href="https://noutu.be">NoUTube</a></li>
        <li><a href="/paypal">PayPal 2FA</a></li>
        <li><a href="/twenty">20-20-20</a></li>
      </ul>
    </li>
  </ul>
  {{> body}}
</body>
</html>
