<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>{{#if title}}{{title}} &ndash; {{/if}}Jake Barnes</title>
  <meta name="description" content="">
  <meta name="author" content="Jake Barnes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{> head}}
</head>
<body>
  {{> body}}
</body>
</html>
