/**
 * Navigation Menu
 */

.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;

  width: 32px;
  max-height: 32px;
  overflow: hidden;
  transition: width 0.5s, max-height 0.5s;

  background: #222;
  color: #eee;
  font-family: sans-serif;
  font-size: 12pt;
}

.nav:hover {
  width: 128px;
  max-height: 224px;
}

.nav > li {
  height: 32px;
  line-height: 32px;
  white-space: nowrap;

  list-style-type: none;
}

.nav > li > a {
  display: block;
  box-sizing: border-box;
  padding: 0 8px;

  color: inherit;
  text-decoration: inherit;
  border: none;
}

.nav > li > span.hamburger {
  display: inline-block;
  Width: 32px;
  text-align: center;
  user-select: none;
}
