{{~#*inline "head"}}
  {{> components/asset-css name="home"}}
{{/inline}}
{{~#*inline "body"}}
  <h1>Pattomobile</h1>
  <p>My first game I could be satisfied calling "finished". A challenging physics puzzle/platformer with a dumb story about I guy I went to highschool with.</p>
  <ul>
    <li><a href="pattomobile/pattomobile-online.swf">play in browser!</a> (.swf) (requires flash plugin, or flash projector) (it was a different time)</li>
    <li><a href="pattomobile/pattomobile-win.zip">Windows</a> (.zip)</li>
    <li><a href="pattomobile/pattomobile-mac.zip">Mac OS X</a> (.zip)</li>
  </ul>
  <p>I've started a remake/port for Unity, but haven't made a lot of progress so far.</p>
  <ul>
    <li><a href="pattomobile/index.html">play in browser!</a></li>
    <li><a href="https://github.com/DuBistKomisch/pattomobile">view source on GitHub</a></li>
  </ul>
{{/inline}}
{{~> layouts/default title="Pattomobile"}}
