{{~#*inline "head"}}
  {{> components/asset-css name="reset"}}
  {{> components/asset-css name="twenty"}}
  {{> components/asset-js name="twenty"}}
{{/inline}}
{{~#*inline "body"}}
  <select id="mode">
    <option value="twenty">20-20-20</option>
    <option value="stand">Sit-Stand</option>
  </select>
  <section id="fill">
    <p id="text"></p>
  </section>
{{/inline}}
{{~> layouts/default title="No Bullshit 20-20-20 Timer"}}
