{{~#*inline "head"}}
  {{> components/asset-css name="reset"}}
  {{> components/asset-css name="twenty"}}
  {{> components/asset-js name="twenty"}}
{{/inline}}
{{~#*inline "body"}}
  <p id="text"></p>
{{/inline}}
{{~> layouts/default title="No Bullshit 20-20-20 Timer"}}
